.login-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--sky-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.222rem;
  padding: 2.222rem;
}
.login-form{
  box-shadow: var(--shadow-1);
}
.login-form-title{
  color: var(--primary-color);
  font-size: var(--font-size-l);
  font-weight: 500;
  text-align: center;
}
.forgot-password-button{
  background: none;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.login-icon{
  height: 2.667rem;
  width: 2.667rem;
}
.login-form-input,
.error-login-form-input{
  width: 20rem;
  height: fit-content;
  background: var(--white);
  padding: 0.444rem 0.833rem;
  display: flex;
  flex-direction: column;
  gap: 0.278rem;
  border-radius: 0.556rem;
  font-size: var(--font-size-2xs);
  max-width: 100%;
}
.login-form-input input,
.error-login-form-input input{
  background: none;
  border: none;
  outline: none;
  font-size: var(--font-size-s);
  color: var(--primary-color);
}
.error-login-form-input label{
  color: var(--red);
}

@media(max-width: 830px){
  .login-container{
    padding: 2.222rem 1.111rem;
  }
}