@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

html{
  font-size: 18px;
}

:root{
  /*Colors*/
  --primary-color: #4F4F4F;
  --secondary-color: #333333;
  --gray-1: #F5F5F5;
  --gray-2: #BFBFBF;
  --white: #FFFFFF;
  --sky-blue: #8FD1E5;
  --yellow: #FFBD59;
  --red: #FF6B6B;

  /*Typography*/
  --font-size-l: 1.333rem;
  --font-size-m: 1.111rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.889rem;
  --font-size-2xs: 0.778rem;

  /*shadows*/
  --shadow-1: 0 0.222rem 0.444rem #0000001a;
  --shadow-2: 0 0.444rem 0.889rem #00000033;
}

/*General styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 1.111rem 0.833rem;
  font-family: "Poppins", serif;
  font-size: var(--font-size-s);
  color: var(--primary-color);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: var(--primary-color);
}
button,
select{
  cursor: pointer;
}

/*Header styles*/
header{
  background: var(--gray-1);
  padding: 0.833rem 1.667rem;
  border-radius: 1.667rem;
  box-shadow: var(--shadow-1);
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.my-market-logo,
.header-item{
  display: flex;
  align-items: center;
  gap: 0.278rem;
  border-radius: 1.111rem;
}
.header-item:hover{
  box-shadow: 0 0.222rem 0.444rem #00000026, 0 0.111rem 0.167rem #0000001a;
}
.my-market-logo{
  font-weight: 500;
  font-size: var(--font-size-m);
}
.my-market-logo a:hover{
  color: var(--red);
}
.my-market-logo img{
  width: 2.5rem;
  height: 2.5rem;
}
.cart{
  background: none;
  border: none;
  font-family: "Poppins", serif;
  font-size: var(--font-size-s);
  color: var(--primary-color);
  position: relative;
  padding: 0.5rem 0.9rem;
}
.counter{
  height: 1.389rem;
  width: 1.389rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--white);
  background-color: var(--red);
  border-radius: 100%;
  position: absolute;
  right: -0.7rem;
  top: -0.3rem;
  z-index: 1;
}

/*Main styles*/
main{
  border-radius: 1.667rem;
  background: var(--sky-blue);
  padding: 2.222rem;
  padding-bottom: 10rem;
  margin-top: 1.111rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.222rem;
  flex: 1;
}

/* Products list options styles*/
.products-list-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.556rem;
}
.search-form{
  display: flex;
  justify-content: space-between;
  width: 15.556rem;
  height: 2.278rem;
  background: var(--white);
  border-radius: 0.833rem;
  padding: 0.444rem 0.889rem;
}
.search-form input,
.search-form input::placeholder,
.categories-select{
  font-family: "Poppins", serif;
  font-size: var(--font-size-xs);
  color: var(--primary-color);
  width: 100%;
}
.search-form input,
.search-button{
  border: none;
  background: none;
  outline: none;
}
.search-form:hover,
.categories-select:hover {
  box-shadow: var(--shadow-2);
}
.categories-select{
  appearance: none;
  background: var(--white);
  border: none;
  outline: none;
  border-radius: 0.833rem;
  padding: 0.444rem 0.889rem;
  width: 15.556rem;
  height: 2.278rem;
  /*arrow styles*/
  background-image: url("assets/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.889rem center;
  background-size: 1.333rem;
}

/*Products list styles*/
.products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.111rem;
  max-width: 100%;
}
.product-card{
  background: #ffffff4d;
  border-radius: 1.111rem;
  width: 15.556rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-1);
  transition: all 0.3s ease-in-out;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-2);
  background: #ffffff66;
}
.product-card img{
  height: 10.833rem;
  object-fit: cover;
  margin: 0.556rem;
}
.product-description{
  background: var(--white);
  border-radius: 0.833rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.556rem;
}
.buy-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category{
  width: fit-content;
  background: var(--yellow);
  padding: 0.278rem 0.556rem;
  border-radius: 0.556rem;
  font-size: var(--font-size-2xs);
}
.name{
  font-size: var(--font-size-s);
  color: var(--secondary-color);
  font-weight: 500;
}
.description{
  font-size: var(--font-size-xs);
  color: var(--secondary-color);
  min-height: 5rem;
  max-width: 100%;
}
.buy-button{
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--white);
  background: var(--red);
  border: none;
  outline: none;
  border-radius: 0.444rem;
  padding: 0.444rem 0.556rem;
}
.buy-button:hover{
  box-shadow: 0 0.222rem 0.444rem #ff6b6b99;
}
.price{
  font-size: var(--font-size-m);
  color: var(--secondary-color);
  font-weight: 500;
}

/*Footer styles*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.278rem;
  border-radius: 1.667rem;
  background: var(--white);
  padding: 1.111rem;
  margin-bottom: 1.111rem;
  font-size: var(--font-size-xs);
  position: absolute;
  bottom: 0;
  left: 0.833rem;
  right: 0.833rem;
  width: auto;
  text-align: center;
  box-shadow: var(--shadow-1);
}
.social-media{
  display: flex;
  gap: 1.111rem;
}
.social-media a{
  background: var(--gray-1);
  border-radius: 100%;
  height: 2.111rem;
  width: 2.111rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media a:hover{
  background: var(--yellow);
  transform: scale(1.2);
}
.legal-links{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.278rem;
}
.legal-links a:hover{
  color: var(--red);
}

@media(max-width: 830px){
  html{
    font-size: 16px;
  }
  header{
    padding: 0.625rem;
    padding-right: 1.875rem;
  }
  .my-market-logo{
    width: 2.188rem;
    height: 2.188rem;
    font-size: var(--font-size-s);
    width: fit-content;
  }
  .header-item{
    font-size: var(--font-size-s);
    width: fit-content;
  }
  .counter{
    font-size: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}