
/* Products list options styles*/
.products-list-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.556rem;
}
.search-form{
  display: flex;
  justify-content: space-between;
  width: 15.556rem;
  height: 2.278rem;
  background: var(--white);
  border-radius: 0.833rem;
  padding: 0.444rem 0.889rem;
}
.search-form input,
.search-form input::placeholder,
.categories-select{
  font-size: var(--font-size-xs);
  color: var(--primary-color);
  width: 100%;
}
.search-form input,
.search-button{
  border: none;
  background: none;
  outline: none;
}
.search-form:hover,
.categories-select:hover {
  box-shadow: var(--shadow-2);
}
.categories-select{
  appearance: none;
  background: var(--white);
  border: none;
  outline: none;
  border-radius: 0.833rem;
  padding: 0.444rem 0.889rem;
  width: 15.556rem;
  height: 2.278rem;
  /*arrow styles*/
  background-image: url("../../assets/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.889rem center;
  background-size: 1.333rem;
}

/*Products list styles*/
.products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.111rem;
  max-width: 100%;
}
.product-card{
  background: #ffffff4d;
  border-radius: 1.111rem;
  width: 15.556rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-1);
  transition: all 0.3s ease-in-out;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-2);
  background: #ffffff66;
}
.product-card img{
  height: 10.833rem;
  object-fit: cover;
  margin: 0.556rem;
}
.product-description{
  background: var(--white);
  border-radius: 0.833rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.556rem;
}
.brand{
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--secondary-color);
}
.buy-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category{
  width: fit-content;
  background: var(--yellow);
  padding: 0.278rem 0.556rem;
  border-radius: 0.556rem;
  font-size: var(--font-size-2xs);
  text-transform: capitalize;
}
.name{
  font-size: var(--font-size-s);
  color: var(--secondary-color);
  font-weight: 500;
}
.description{
  font-size: var(--font-size-xs);
  color: var(--secondary-color);
  min-height: 5rem;
  max-width: 100%;
}
.buy-button{
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--white);
  background: var(--red);
  border: none;
  outline: none;
  border-radius: 0.444rem;
  padding: 0.444rem 0.556rem;
}
.buy-button:hover{
  box-shadow: 0 0.222rem 0.444rem #ff6b6b99;
}
.price{
  font-size: var(--font-size-m);
  color: var(--secondary-color);
  font-weight: 500;
}