@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

html{
  font-size: 18px;
}

:root{
  /*Colors*/
  --primary-color: #4F4F4F;
  --secondary-color: #333333;
  --gray-1: #F5F5F5;
  --gray-2: #BFBFBF;
  --white: #FFFFFF;
  --sky-blue: #8FD1E5;
  --yellow: #FFBD59;
  --red: #FF6B6B;

  /*Typography*/
  --font-size-l: 1.333rem;
  --font-size-m: 1.111rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.889rem;
  --font-size-2xs: 0.778rem;

  /*shadows*/
  --shadow-1: 0 0.222rem 0.444rem #0000001a;
  --shadow-2: 0 0.444rem 0.889rem #00000033;
}

/*General styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  margin: 0;
  padding: 1.111rem 0.833rem;
  font-family: "Poppins", serif;
  font-size: var(--font-size-s);
  color: var(--primary-color);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: var(--primary-color);
}
button,
select{
  cursor: pointer;
}

/*Main styles*/
main{
  border-radius: 1.667rem;
  background: var(--sky-blue);
  padding: 2.222rem;
  padding-bottom: 10rem;
  margin-top: 1.111rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.222rem;
  flex: 1;
}

/* Responsive styles */
@media(max-width: 830px){
  html{
    font-size: 16px;
  }
}