.order-container{
  background: var(--gray-1);
  border-radius: 1.389rem;
  padding: 1.111rem 1.389rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 37.778rem;
  max-width: 100%;
}
.cart-products-table{
  width: 100%;
  border-collapse: collapse;
}
.cart-products-table tr{
  border-bottom: solid 0.111rem var(--gray-2);
  vertical-align: middle;
  padding: 0.556rem 0;
}
.cart-products-table th{
  text-align: center;
  padding: 0.833rem 0.556rem;
}
.cart-products-table td{
  text-align: center;
  padding: 0 0.833rem;
}
.cart-product-image{
  height: fit-content;
}
.cart-product-image img{
  height: 3.611rem;
  object-fit: cover;
}
.cart-product-name{
  font-size: var(--font-size-xs);
  color: var(--secondary-color);
}
.cart-product-quantity{
  display: flex;
  gap: 0.556rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 4rem;
}
.cart-product-quantity-number{
  font-size: var(--font-size-s);
  color: var(--secondary-color);
  font-weight: 500;
  min-width: 1.111rem;
}
.cart-product-quantity button,
.cart-delete-product button{
  background: var(--white);
  border: none;
  outline: none;
  width: 2.222rem;
  height: 2.222rem;
  border-radius: 100%;
}
.cart-product-quantity button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-product-quantity button:hover,
.cart-delete-product button:hover{
  background: var(--yellow);
}
.cart-product-quantity .disabled-button,
.cart-product-quantity .disabled-button:hover{
  opacity: 0.5;
  cursor: not-allowed;
}
.cart-total-amount{
  text-align: right;
  padding: 0.833rem;
  font-size: var(--font-size-xs);
  color: var(--secondary-color);
}
.cart-empty-message{
  width: 100%;
  padding: 1.667rem 0.833rem;
  text-align: center;
}